
:root {
  --primary-color: #194efe;
  --secondary-color: #171717;
  --tertiary-color: #cedaff;
  --quaternary-color: #f7f9ff;
}


/* GLOBAL */
html{
  scroll-behavior: smooth;
}
body{
  background-color: var(--quaternary-color) !important;
}
.primaryColor{
  color: var(--primary-color);
}
.secondaryColor{
  color: var(--secondary-color);
}
.tertiaryColor{
  color: var(--tertiary-color);
}
.quaternary-color{
  color: var(--quaternary-color);
}
.title{
  font-size: 5rem;
  font-weight: bolder;
  text-shadow: white 1px 0 2px;
}
p{
  font-size: 1.2rem;

}
.text--gray{
  color: rgb(79, 79, 79);
}
.subTitle{
  font-size: 3rem;
  font-weight: bolder;
  margin: 2rem 0;
  text-shadow: black 1px 0 2px;
}
.container{
  width: 90%;
  margin: 0 auto;
}

h1, h2{
  margin: 0;
}
.union{
  width: 99.1vw;
  object-fit: cover;
  overflow: hidden;
}

/* HEADER */

.App-header{
  background-color: var(--secondary-color);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
}
.App-header div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.App-header__logo{
  height: 60px;
}
.App-header nav ul{
  display: flex;
  gap: 2rem;
}
.App-header nav ul li{
  list-style: none;
  color: white;
  text-decoration: none;
  transition: all .3s ease;
}
.App-header nav ul li a{
  list-style: none;
  color: white;
  text-decoration: none;
  transition: all .3s ease;
}
.App-header nav ul li a:hover{
  text-shadow: 1px 1px 10px white;

}
.App-header__nav a{
  color: white;
  text-decoration: none;
  transition: all .3s ease;
}
.App-header__nav a:hover{
  color: rgb(88, 132, 254);

}

.menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.change-color {
  color: white;
  animation-name: change-color;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;

}

.hidden {
  transform: translateX(-1000px) !important;
  transition: all 0.6s ease;
}
.nav-menu ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
}
.nav-menu ul li{
  font-size: 18px;
}
.nav-menu__cta{
  padding: 1rem;
  background-color: var(--primary-color);
  border-radius: 5px;
  transition: all .3s ease;
}

.nav-menu__cta:hover{
  background-color: white;
  color: black !important;
  box-shadow: 0 0 20px var(--tertiary-color);

}
.nav-menu-responsive{
  display: none;
}
@keyframes change-color {
  from {
    color: white;
  }
  to {
    color: rgb(88, 132, 254);
  }
}
/* HERO */
.hero{
  background-color: var(--secondary-color);
  height: 80vh;
  padding: 2rem;
}
.hero__container{
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  height: 100%;
}
.hero__img{
  height: 85%;
}
.hero__text{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__text__p{
  margin: 20px 0;
  color: rgb(155, 155, 155);

}
.hero__btn{
  display: flex;
  gap: 1rem;
}
.hero__btn a{
  text-decoration: none;
}
.hero__btn__cv{
  background-color: var(--primary-color);
  color: white;
  padding: .8rem 2.3rem;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease;
}
.hero__btn__cv:hover{
  background-color: white;
  border: 1px solid white;
  box-shadow: 0 0 20px var(--tertiary-color);
  color: black;
}
.hero__btn__contact{
  background-color: rgba(255, 255, 255, 0);
  color: white;
  padding: .8rem 2.3rem;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease;
}
.hero__btn__contact:hover{
  background-color: var(--primary-color);
  color: white;
  padding: .8rem 2.3rem;
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 20px var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease;
}


/* TECHNOLOGIES */

.tech{
  text-align: center;
  padding: 3rem 0;
}

.tech__list{
  padding: 4rem 0;
}
.tech__list__item i{
  font-size: 4rem;
  color: rgb(47, 47, 47);
}

/* PROJECTS */

.projects{
  text-align: center;
  background-color: var(--tertiary-color) !important;
  padding: 2rem;
}
.tertiary_background{
  background-color: var(--tertiary-color) !important;

}
.projects__list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 4rem 0;
}
.projects__list__item{
  background-color: white;
  border-radius: 20px;
  transition: all .3s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  position: relative;
  overflow: hidden;
}
.projects__list__item:hover{
  transform: translateY(-10px);
  cursor: pointer;
}
.projects__list__item img{
  width: 80%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  transition: all 0.5s ease;

}
/* .projects__list__item:hover img{
  height: 300px;
  transition: all 0.5s ease;
} */
.projects__list__item__text{
  padding: 1rem;
  transition: all .3s ease;
  border-radius: 0 0 20px 20px;
}
.projects__list__item__text:hover{
  background-color: var(--primary-color);
  color: white;
}
/* CONTACT */

.contact{
  text-align: center;
  padding: 4rem 0;

}
.contact form{
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
form label{
  color: rgb(47, 47, 47);
  display: flex;
  flex-direction: column;
  gap: .5rem;
  text-align: left;
}
form input{
  border: 1px solid rgb(47, 47, 47);
  border-radius: 5px;
  width: 100%;
  font-size: 1.2rem;
  padding: .5rem 0 .5rem .5rem;
}
form textarea{
  border: 1px solid rgb(47, 47, 47);
  border-radius: 5px;
  width: 100%;
  font-size: 1.2rem;
  padding: .5rem 0 .5rem .5rem;
}
.contact__btn{
  background-color: var(--primary-color);
  color: white;
  padding: .8rem 2.3rem;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);

}
.contact__btn:hover{
  background-color: rgb(119, 155, 252);
  border-color: rgb(119, 155, 252);
  box-shadow: 0 0 20px var(--primary-color);

}

/* FOOTER */
.footer{
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__social, .footer__contact{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.footer__contact__icon p{
  font-size: .2rem;
}
.footer__social a{
  width: 50px;
  height: 50px;
  font-size: 1.4rem;
  color: white;
  transition: all .3s ease;
  padding: .7rem;
  border: 1px solid white;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__social a:hover{
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: black;
  cursor: pointer;
  box-shadow: 0 0 20px var(--primary-color);
}
.footer__contact__item{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}
.footer__contact__item p{
  margin: 0;
}
.footer__contact__item img{
  width: 20px;
  height: 20px;
}

/* MODAL  */
.modalGallery{
  z-index: 100000000000;
  max-width: 70vw !important;
}
.modalGallery__text{
  margin: 1rem 2rem;
  font-size: 1rem
}
.modalGallery__tech{
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin: 1rem 0;
  text-align: center;
}
.modalGallery__tech__item{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
.modalGallery__tech__item i{
  font-size: 3.5rem;
}
.carousel-img{
  width: 100%;
  height: 400px; 
  object-fit: contain; 
  object-position: center; 
  background-color: #000;
  height: 50vh !important;
}
@media screen and (max-width: 768px){
  .union{
    width: 100vw;
    height: 55px;
    padding: 0;
    margin: 0;
  }
  .App-header__logo{
    height: 50px;
  }
  .App-header__logo-mobile{
    width: 100px;
    margin: 0 auto;
  }
  .menu-button {
    display: block;
  }
  .nav-menu{
    display: none;
  }
  .nav-menu-responsive {
    transition: font-size 0.3s ease;
    width: 70vw !important;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

  }

  .nav-menu-responsive ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    margin-top: 3rem;
    padding: 0;
  }
  .nav-menu-responsive li a {
    padding: 14px 16px;
    text-decoration: none;
    transition: font-size 0.3s ease;
    color: var(--quaternary-color) !important;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid white;
    width: 100vw;
  }
  .nav-menu-responsive {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color: var(--secondary-color);
    z-index: 99999;
    padding: 20px;
    color: var(--secondary-color);
    transition: all 0.6s ease;
  }
  .nav-menu-responsive-footer__social{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    margin: auto auto 0 auto;
    gap: 1rem;
  }
  .nav-menu-responsive-footer__social a{
    width: 50px;
    height: 50px;
    font-size: 1.4rem;
    color: white;
    transition: all .3s ease;
    padding: .7rem;
    border: 1px solid white;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-menu-responsive-footer__social a:hover{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: black;
    cursor: pointer;
    box-shadow: 0 0 20px var(--primary-color);
  }
  .nav-menu-responsive .logo {
    margin: 0 0 2rem 0;
  }
  
  .hero{
    height: 100%;
  }
  .hero__container{
    flex-direction: column;
    gap: 1rem;
  }
  .hero__img{
    height: 30vh;
  }
  .hero__text{
    text-align: center;
  }
  .hero__btn{
    flex-direction: column;
  }
  .hero__btn__cv{
    width: 100%;
  }
  .hero__btn__contact{
    width: 100%;
  }
  .tech__list{
    padding: 2rem 0;
  }
  .projects__list{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .projects__list__item{
    margin: 1rem 0;
  }
  .projects__list__item img{
    height: 150px;
  }
  .projects__list__item__text{
    padding: .5rem;
  }
  .contact form{
    width: 100%;
    padding: 0 1rem;
  }
  .footer__contact{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  .modalGallery{
    max-width: 100vw !important;
  }
  .modalGallery__text{
    margin: 1rem 0;
    text-align: justify;
  }
  .modalGallery__tech{
    flex-direction: column;
    gap: 1rem;
  }
  .carousel-img{
    height: 65vh !important;
  }
}